<?xml version= "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gaokao.refen.mapper.SpybcsMapper">
	<resultMap type="spybcsinfo" id="spybcsinfo">
		<result column="SCHOOL" property="school" />
		<result column="PROVINCE" property="province" />
		<result column="PROVINCESCORE" property="provinceScore" />
		<result column="FENSCHA" property="fensCha" />
		<result column="MINSCORE" property="minScore" />
		<result column="BATH" property="bath" />
		<result column="CDC" property="cdc" />
		<result column="YEAR" property="year" />
		<result column="HIGSCORE" property="higScore" />
		<result column="AVESCORE" property="aveScore" />
		<result column="ADMISNUM" property="admiSnum" />
		<association property="schInfo" javaType="cn.gaokao.refen.Entity.School">
			<result column="SCNAME" property="scName" />
			<result column="SCNAME" property="scName" />
			<result column="SCPOP" property="scPop" />
			<result column="SCHPROVINCE" property="province" />
			<result column="CATE" property="cate" />
			<result column="F985" property="f985" />
			<result column="F211" property="f211" />
			<result column="ATTR" property="ATTR" />
		</association>
	</resultMap>
	<sql id="column">
		SCHOOL,
		PROVINCE,
		PROVINCESCORE,
		FENSCHA,
		MINSCORE,
		BATH,
		CDC,
		YEAR,
		HIGSCORE,
		AVESCORE,
		ADMISNUM
	</sql>
	<!-- ,PROVINCE,PROVINCESCORE,FENSCHA,MINSCORE,BATH,CDC,YEAR,HIGSCORE,AVESCORE,ADMISNUM -->
	<!-- ,#{spybcsinfo.province},#{spybcsinfo.provinceScore},#{spybcsinfo.fensCha},#{spybcsinfo.minScore},#{spybcsinfo.bath},#{spybcsinfo.cdc},#{spybcsinfo.year},#{spybcsinfo.higScore},#{spybcsinfo.aveScore},#{spybcsinfo.admiSnum} -->
	<insert id="addSpybcsinfo">
		INSERT INTO
		SPYBCSINFO(
		<include refid="column"></include>
		)
		VALUES
		<foreach collection="list" item="spybcsinfo" separator=",">
			(#{spybcsinfo.school},#{spybcsinfo.province},#{spybcsinfo.provinceScore},#{spybcsinfo.fensCha},#{spybcsinfo.minScore},#{spybcsinfo.bath},#{spybcsinfo.cdc},#{spybcsinfo.year},#{spybcsinfo.higScore},#{spybcsinfo.aveScore},#{spybcsinfo.admiSnum})
		</foreach>
	</insert>
	<select id="getHisScore" resultMap="spybcsinfo">
		SELECT DISTINCT
		<include refid="column"></include>
		FROM
		SPYBCSINFO
		WHERE
		SCHOOL=#{school} and PROVINCE=#{province} and
		CDC=#{cdc}
		<if test="bath!='nobath'">
			and BATH=#{bath}
		</if>
		ORDER BY YEAR
	</select>
	<select id="getSelectSchool" resultMap="spybcsinfo">
		SELECT
		spybcsinfo.SCHOOL as SCHOOL,
		schoolinfo.PROVINCE as SCHPROVINCE,
		schoolinfo.CATE as CATE,
		schoolinfo.SCPOP as SCPOP,
		schoolinfo.F985 as F985,
		schoolinfo.F211 as F211,
		schoolinfo.ATTR as ATTR
		FROM
		schoolinfo
		LEFT JOIN spybcsinfo ON schoolinfo.SCNAME = spybcsinfo.SCHOOL
		WHERE
		spybcsinfo.PROVINCE = #{stuProvince}
		AND spybcsinfo.CDC= #{cdc}
		<if test="cate!='不限类'">
			AND schoolinfo.CATE = #{cate}
		</if>
		AND spybcsinfo.AVESCORE &lt; #{score}
		<!-- AND spybcsinfo.AVESCORE &gt; #{score}-50 -->
		<if test="schProvince!='不限'">
			AND schoolinfo.PROVINCE = #{schProvince}
		</if>
		AND spybcsinfo.YEAR = #{year}
		order by spybcsinfo.AVESCORE DESC
	</select>
</mapper>
	
	
	
	